**/.git
**/.github
**/.gitignore
**/.gitattributes
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.env
**/.venv
**/venv
**/.pytest_cache
**/.vscode
**/.idea
**/tests
README.md
docker-compose.yml
docker-compose.override.yml
*.log