LLM_PROVIDER=# local llm or api llm
OLLAMA_MODEL=# ollama model name, e.g. llama3
LLM_BASE_URL=# base URL for LLM API, e.g. http://host.docker.internal:11434/v1 for local Ollama instance
#GROQ_API_KEY=your_actual_groq_api_key_here # Your real Groq key
#LLM_BASE_URL= # Leave empty for Groq's default API endpoint

GROQ_API_KEY=# Placeholder, can be any string

# Database settings (Local Docker defaults)
DATABASE_URL=# postgresql://postgres:password@db:5432/postgres
SANDBOX_URL=# postgresql://postgres:password@db:5432/postgres
POSTGRES_PASSWORD=# password
POSTGRES_DB=# postgres
DEBUG=# True
LOG_LEVEL=# INFO
